//Blink cursor
@keyframes blink{
    0%{
        opacity: 1;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}